.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, #fff 0%, #2af7ed 35%, #fff 100%);
  border-image-slice: 1;
  border-radius: 5px;
}

.warningIcon {
  fill: #fde910;
}

.done {
  background-color: rgba(0, 250, 154, 0.3);
  text-decoration: line-through;
}

.miss {
  fill: red;
}

.taskText {
  width: 80%;
  font-size: 17px;
}

.deadline {
  margin-top: 3px;
  font-size: 15px;
  color: #919192;
}

.deadline svg {
  width: 15px;
  margin-left: 5px;
}

.buttonsWrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px auto;
  width: 80px;
}

.buttonsWrap svg {
  width: 18px;
  margin-left: 5px;
  transition: all ease-in-out 0.2s;
}

.editButton {
  fill: #919192;
}

.buttonsWrap .delButton {
  fill: #919192;
  transform: rotate(45deg);
}

.buttonsWrap .delButton:hover {
  transform: rotate(45deg) scale(1.2);
}

.buttonsWrap svg:hover {
  transform: scale(1.2);
}

.buttonsWrap svg:active {
  transform: scale(0.8);
}
