.root {
  width: 80%;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inputWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: #2af7ed;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

svg {
  width: 25px;
  fill: #919192;
}
